
<div class="modal fade"  id="buyInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TransactionHash">a</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="card card-body mx-auto bg-success">
            <div class="card-title">
              <h1 class="text-center display-4" style="color:white;" id="buy_currency_amount"></h1>
            </div>
          </div>
          <div class="card card-body mx-auto bg-danger">
            <div class="card-title">
              <h1 class="text-center display-4" style="color:white;" id="sell_currency_amount"></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card card-body mx-auto bg-dark">
            <div class="card-title">
             <h2 class="text-center display-8" style="color:white;" id="min_buy"></h2>
             <p class="text-center display-8" style="color:white;" id="isu_date"></p>
             <h2 class="text-center display-8" style="color:white;" id="deposit_method"></h2>
           </div>
         </div>
       </div>
     </div>
     <div class="modal-footer">
      <form class ="form-inline" method="POST">
        <div class="form-group">
          <input
          type="password"
          placeholder="Enter Authentication through OPL"
          class="form-control"
          />
        </div>
        <button type="button" class="btn btn-dark" >Verify</button>
      </form>
      <form class ="form-inline" action="/internal/buy" method="POST">
        <div class="form-group">
            <input
            type="number"
            id="buyer_amount"
            name="buyer_amount"
            placeholder="Enter Buy Amount"
            min="0"
            step="0.01"
            class="form-control"
            />
            <input
            type="hidden"
            id="id_transaksi"
            name="id_transaksi"
            value="aba"
            />
        </div>
        <button type="submit" class="btn btn-outline-success" >Buy</button>
      </form>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

 <script  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>


<script>
  function Modalreplace(a,b){
    $('h5.modal-title').html('Trade : ' +go[a].trade[b]._id);
    $('#buy_currency_amount').html('BUY : '+go[a].trade[b].sell_price + " "+ go[a].trade[b].sell_currency);
    $('#sell_currency_amount').html('SELL : '+go[a].trade[b].buy_amount + " "+ go[a].trade[b].buy_currency);
    $('#min_buy').html('Minimum Buy Amount : ' + go[a].trade[b].min_buy_amount+ " "+ go[a].trade[b].buy_currency);
    $('#isu_date').html('Issued by '+ go[a].name + ' at '+ go[a].trade[b].Isu_date +' by '+ go[a].trade[b].sell_method );
    var input = document.getElementById('id_transaksi');
    input.value = go[a].trade[b]._id.toString();

    if(go[a].trade[b].sell_method == 'autocharge'){
      $('#deposit_method').html('-');
    }else{
      $('#isu_date').html('Issued by '+ go[a].name + ' at '+ go[a].trade[b].Isu_date +' by '+ go[a].trade[b].sell_method +" of" );
      $('#deposit_method').html( go[a].trade[b].deposit_amount + " "+ go[a].trade[b].buy_currency);
    }
  }
</script>