<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a href="/users/logout" class="btn btn-secondary"><i class="fas fa-arrow-left"></i></a>
        <a class="navbar-brand" href="/dashboard"><img class="" src="/img/navlogo.svg" width="50px" style="cursor:pointer"></a>
        <span class="desc mr-auto" href="/dashboard">| Home</span>
        <ul class="navbar-nav mr-sm-2">
          <li class="nav-item mx-0">
          <form class="form-inline" action="/internal/search" method="POST">
          <input 
          class="form-control mr-sm-2" 
          name="buy_currency_search" 
          placeholder="Enter Buy Currency" 
          aria-label="Search"
          style="display:none">
          <button class="btn btn-success" type="submit">Marketplace</button>
          </form>
          </li>
          <li class="nav-item mx-0">
            <a href="/sell" class="btn btn-danger">Sell</a>
          </li>
        </ul>
        <form class="form-inline" action="/internal/search" method="POST">
          <input 
          class="form-control mr-sm-2" 
          name="buy_currency_search" 
          placeholder="Enter Buy Currency" 
          aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Market Quick Search</button>
        </form>

      </div>
    </nav>