
<!-- Modal -->
<div class="modal fade"  id="transactionInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transaction_hash"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="card card-body mx-auto bg-danger">
            <div class="card-title">
              <h1 class="text-center display-4" style="color:white;" id="sell_currency_amount"></h1>
            </div>
          </div>
          <div class="card card-body mx-auto bg-success">
            <div class="card-title">
              <h1 class="text-center display-4" style="color:white;" id="buy_currency_amount"></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card card-body mx-auto bg-dark">
            <div class="card-title">
             <h2 class="text-center display-8" style="color:white;" id="min_buy"></h2>
             <h2 class="text-center display-8" style="color:white;" id="sell_method"></h2>
             <h2 class="text-center display-8" style="color:white;" id="deposit_method"></h2>
             <p class="text-center display-8" style="color:white;" id="isu_date"></p>
           </div>
         </div>
       </div>
     </div>
     <div class="modal-footer">
      <form class ="form-inline" action="/internal/stop" method="POST">
        <div class="form-group">
            <input
            type="text"
            id="id_transaksi"
            name="id_transaksi"
            />
        </div>
        <button type="submit" class="btn btn-danger" >Stop Trades</button>
      </form>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

<script  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>


<script>
  function Modalreplace(clicked){
    $('#transaction_hash').html("Private Trade : " + user.trade[clicked]._id);
    $('#buy_currency_amount').html("BUY : " + user.trade[clicked].buy_price + " "+ user.trade[clicked].buy_currency);
    $('#sell_currency_amount').html("SELL : " + user.trade[clicked].sell_price + " "+ user.trade[clicked].sell_currency);
    $('#min_buy').html('Minimum Buy Amount : ' + user.trade[clicked].min_buy_amount+ " "+ user.trade[clicked].sell_currency);
    $('#sell_method').html('CHARGE METHOD : ' + user.trade[clicked].sell_method);
    $('#deposit_method').html('DEPOSIT : ' + user.trade[clicked].deposit_amount+ " "+ user.trade[clicked].sell_currency);
    $('#isu_date').html('Issued : ' + user.trade[clicked].Isu_date );
    if(user.trade[clicked].sell_method == 'autocharge'){
      $('#deposit_method').html('-');
    }
    var input = document.getElementById('id_transaksi');
    input.value = user.trade[clicked]._id.toString();
    console.log(input.value);
  }
</script>