
<!-- Modal -->
<div class="modal fade"  id="walletInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TransactionHash">a</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card card-body mx-auto bg-success">
              <div class="card-title">
                <h1 class="text-center display-2" style="color:white;" id="wallet_currency_amount"></h1>
                <h1 class="text-center" style="color:white;" id="wallet_currency"></h1></div>
                <p class="text-center display-8" style="color:white;" id="wallet_date"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

 <script  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>


<script>
  function ModalReplace(clicked){
    $('h5.modal-title').html('Wallet : ' +user.wallet[clicked]._id);
    $('#wallet_currency_amount').html(user.wallet[clicked].amount + " "+ user.wallet[clicked].currency);
    $('#wallet_date').html('Last Contact : '+user.wallet[clicked].date);
  }
</script>