 <% include ./partials/nav %>
   <script>
      var go = <%- JSON.stringify(go) %>;
      console.log(go);
      function showModals(clicked_id){
      	var orang = clicked_id.charAt(0);
        var trade = clicked_id.substr(clicked_id.length - 1);
        console.log(orang);
        console.log(trade);
        Modalreplace(orang,trade);
      }

      </script>
<h1 class="mt-4">Marketplace</h1>
<body>
	<form class="form-inline" action="/internal/search" method="POST">
          <input 
          class="form-control mr-sm-2" 
          name="buy_currency_search" 
          placeholder="Enter Buy Currency" 
          aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
	<div class="container">
		<div class="row mt-3">
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th>NAME</th>
						<th>BUYING</th>
						<th>SELLING</th>
						<th>HASH</th>
						<th>REMAINING</th>
						<th>MIN_BUY</th>
						<th>DATE ISSUED</th>
					</tr>
				</thead>
				<tbody>
					<% for (var a = 0; a < go.length; a++) { %>
						<% for (var b = 0; b < go[a].trade.length; b++) { %>
					<tr data-toggle="modal" data-target="#buyInfo" onclick="showModals(this.id)" id="<%= a %>_<%= b %>">
						<td><%= go[a].name %></td>
						<td><%= go[a].trade[b].sell_price +" "+ go[a].trade[b].sell_currency %></td>
						<td><%= go[a].trade[b].buy_price +" "+ go[a].trade[b].buy_currency %></td>
						<td><%= go[a].trade[b]._id %></td>
						<td><%= go[a].trade[b].deposit_amount %></td>
						<td><%= go[a].trade[b].min_buy_amount %></td>
						<td><%= go[a].trade[b].Isu_date %></td>
					</tr>
					<% } %>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</body>

 <% include ./partials/buy_modal %>