 <% include ./partials/nav %>

      <script>
      var user = <%- JSON.stringify(user) %>;
      console.log(user);
      function showModals(clicked_id){
        var clicked = clicked_id.substr(clicked_id.length - 1);
        console.log(clicked);
        ModalReplace(clicked);
      }
      function showTRModals(clicked_id){
        var clicked = clicked_id.substr(clicked_id.length - 1);
        console.log(clicked);
        Modalreplace(clicked);
      }


        function sellVal(sell_method){
        let decider = sell_method.value;
        let sell_price = $('#sell_price').val();
        console.log(decider);
        if(decider == 'autocharge'){
        console.log("AUTOCHARGE ORIENTED");
        $('#deposit_amount').attr("placeholder", "NOT AVAILABLE").attr("disabled", true)
        }
        else{
        console.log("DEPOSIT ORIENTED");
        $('#deposit_amount').attr("placeholder", "Enter Deposit Amount").attr("disabled", false).attr("min", sell_price).attr("value", sell_price)
        }}

        function changeMin(sell_currency){
        let changer = sell_currency.value;
        console.log(changer);
        $('#min_buy_currency').html(sell_currency.value);
        $('#deposit_currency').html(sell_currency.value)
        }

        var input = document.getElementById('id_transaksi');
        input.value = go[a].trade[b]._id.toString();
      </script>
  <body>
    <div class="container">
      <div class="row mt-3">
      <h1 class="mt-4">My Fortune </h1>
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="img/profile.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title" id="1"><%= user.email %></h5>
              <p class="card-text">Device : <%= user.device_id %></p>
              <a href="#" class="btn btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="jumbotron">
            <h1 class="display-8">Hello, <%= user.name %> !</h1>
            <p class="lead">Wallet : <%= user._id %></p>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Amount</th>
                  <th>Currency</th>
                  <th>Records</th>
                </tr>
              </thead>
              <tbody>
              	<% for (var i = 0 ; i < user.wallet.length; i++) { %>
                <tr data-toggle="modal" data-target="#walletInfo" onclick="showModals(this.id)" id="row_<%= i %>">
                  <td id="amount_<%= i %>"><%= user.wallet[i].amount %></td>
                  <td id="currency_<%= i %>"><%= user.wallet[i].currency %></td>
                  <td id="id_<%= i %>"><%= user.wallet[i]._id %></td>
                </tr></a>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      <% include ./partials/messages %>
      <% include ./partials/wamodal %>
      <% include ./partials/trmodal %>
    <div class="container">
      <div class="row mt-3">
        <div class="col" id="trade">
         <form action="/internal/trade" method="POST">
          <div class="card">
            <div class="card-body container" id="trade">
              <div class="card-title"><h1 class="text-center">SELL PAPER</h1></div>
              <hr class="my-4">
              <span class="h4">Exchange Rate</span>
              <div class="form-group text-center">
                <div class="input-group mr-2 my-4" id="sell">
                  <input
                  type="number"
                  id="sell_price"
                  name="sell_price"
                  placeholder="Enter Sell Price"
                  min="0"
                  step="0.01"
                  class="form-control"
                  />
                  <div class="input-group-append">
                      <select class="browser-default custom-select btn-danger" id="input_sell" name="sell_currency" onchange="changeMin(this);">
                        <option selected value="USD">USD</option>
                        <option value="NTD">NTD</option>
                        <option value="IDR">IDR</option>
                      </select>
                  </div>
                </div>
                <div class="input-group mr-2 mb-1"id ="buy">
                  <input
                  type="number"
                  id="buy_price"
                  name="buy_price"
                  placeholder="Enter Buy Price"
                  min="0"
                  step="0.01"
                  class="form-control"
                  />
                  <div class="input-group-append">
                      <select class="browser-default custom-select btn-success" id="input_buy" name="buy_currency">
                        <option value="USD">USD</option>
                        <option selected value="NTD">NTD</option>
                        <option value="IDR">IDR</option>
                      </select>
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <span class="h4">Minimum Out Amount</span>
              <div class="input-group mr-2 mb-1"id ="min_buy">
                  <input
                  type="number"
                  id="min_buy_amount"
                  name="min_buy_amount"
                  placeholder="Enter Minimum Buy"
                  min="0"
                  step="0.01"
                  class="form-control"
                  />
                  <div class="input-group-append">
                      <span class="input-group-text" id="min_buy_currency">USD</span>
                  </div>
              </div>
              <hr class="my-4">
              <span class="h4">Invoice Method</span>
              <div class="input-group mr-2 mb-1"id ="sell_method">
                  <input
                  type="number"
                  id="deposit_amount"
                  name="deposit_amount"
                  placeholder="NOT AVAILABLE"
                  min="0"
                  step="0.01"
                  class="form-control"
                  disabled=true
                  />
                  <div class="input-group-append">
                      <span class="input-group-text" id="deposit_currency">USD</span>
                      <select class="browser-default custom-select btn-success" id="sell_method" name="sell_method" onchange="sellVal(this);">
                        <option selected value="autocharge">Autocharge</option>
                        <option value="deposit">Deposit</option>
                      </select>
                  </div>
              </div>
              <hr class="my-4">
              <div class="form-group">
                <label for="auth">Verify Authentication</label>
                <input
                type="password"
                maxlength="6"
                name="authenticate"
                placeholder="Enter Authentication through OPL"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-exchange-alt"></i> TRADE</button>
            </div>
          </div>

        </form>
        </div>
        <div class="col" id="top-up">
          <!-- Topup Form -->
          <form action="/internal/topup" method="POST">
          <div class="card-body card">
            <div class="card-title"><h1 class="text-center">TOP UP!</h1></div>
            <div class="form-group">
              <div class="input-group">
                <label for="currency" style="display : none;">Currency</label>
                <input
                type="text"
                id="new_amount"
                name="new_amount"
                class="form-control"
                placeholder="Enter Currency"
                />
                <div class="input-group-append">
                      <select class="browser-default custom-select btn-success" id="inputGroupSelect01" name="new_currency">
                        <option selected value="USD">USD</option>
                        <option value="NTD">NTD</option>
                        <option value="IDR">IDR</option>
                      </select>
                  </div>
              </div>
              <label for="password">Receipt PIN Authentication</label>
              <input
              type="text"
              class="form-control"
              placeholder="Enter Receipt Invoice Number"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">TOP UP</button>
          </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col" id="current_trade">
          <hr>
          <h1>Your Current Trades</h1>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>BUYING</th>
                  <th>SELLING</th>
                  <th>RETAINED DEPOSIT</th>
                  <th>MINIMUM</th>
                  <th>METHOD</th>
                  
                </tr>
              </thead>
              <tbody>
                <% for (var a = 0; a < user.trade.length; a++) { %>
                <tr data-toggle="modal" data-target="#transactionInfo" onclick="showTRModals(this.id)" id="row_<%= a %>">
                  <td><%= user.trade[a].buy_price +" "+ user.trade[a].buy_currency %></td>
                  <td><%= user.trade[a].sell_price +" "+ user.trade[a].sell_currency %></td>
                  <td><%= user.trade[a].deposit_amount %></td>
                  <td><%= user.trade[a].min_buy_amount +" "+ user.trade[a].buy_currency %></td>
                  <td><%= user.trade[a].sell_method.toUpperCase() %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
        </div>
      </div>
    </div>
</div>

    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="
    sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./js/app.js"></script>
  </body>
</html>