 <% include ./partials/nav %>
<div class="container">
<div class="row">
 <div class="card-body container">
              <div class="card-title"><h1 class="text-center">SELL PAPER</h1></div>
              <hr class="my-4">
              <span class="h4">Exchange Rate</span>
              <div class="form-group text-center">
                <div class="input-group mr-2 my-4" id="sell">
                  <input
                  type="number"
                  id="sell_price"
                  name="sell_price"
                  placeholder="Enter Sell Price"
                  min="0"
                  step="0.01"
                  class="form-control"
                  />
                  <div class="input-group-append">
                      <select class="browser-default custom-select btn-danger" id="input_sell" name="sell_currency" onchange="changeMin(this);">
                        <option selected value="USD">USD</option>
                        <option value="NTD">NTD</option>
                        <option value="IDR">IDR</option>
                      </select>
                  </div>
                </div>
                <div class="input-group mr-2 mb-1"id ="buy">
                  <input
                  type="number"
                  id="buy_price"
                  name="buy_price"
                  placeholder="Enter Buy Price"
                  min="0"
                  step="0.01"
                  class="form-control"
                  />
                  <div class="input-group-append">
                      <select class="browser-default custom-select btn-success" id="input_buy" name="buy_currency">
                        <option value="USD">USD</option>
                        <option selected value="NTD">NTD</option>
                        <option value="IDR">IDR</option>
                      </select>
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <span class="h4">Minimum Out Amount</span>
              <div class="input-group mr-2 mb-1"id ="min_buy">
                  <input
                  type="number"
                  id="min_buy_amount"
                  name="min_buy_amount"
                  placeholder="Enter Minimum Buy"
                  min="0"
                  step="0.01"
                  class="form-control"
                  />
                  <div class="input-group-append">
                      <span class="input-group-text" id="min_buy_currency">USD</span>
                  </div>
              </div>
              <hr class="my-4">
              <span class="h4">Invoice Method</span>
              <div class="input-group mr-2 mb-1"id ="sell_method">
                  <input
                  type="number"
                  id="deposit_amount"
                  name="deposit_amount"
                  placeholder="NOT AVAILABLE"
                  min="0"
                  step="0.01"
                  class="form-control"
                  disabled=true
                  />
                  <div class="input-group-append">
                      <span class="input-group-text" id="deposit_currency">USD</span>
                      <select class="browser-default custom-select btn-success" id="sell_method" name="sell_method" onchange="sellVal(this);">
                        <option selected value="autocharge">Autocharge</option>
                        <option value="deposit">Deposit</option>
                      </select>
                  </div>
              </div>
              <hr class="my-4">
              <div class="form-group">
                <label for="auth">Verify Authentication</label>
                <input
                type="password"
                maxlength="6"
                name="authenticate"
                placeholder="Enter Authentication through OPL"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-exchange-alt"></i> TRADE</button>
            </div>
</div>
</div>

      <% include ./partials/messages %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  function sellVal(sell_method){
        let decider = sell_method.value;
        let sell_price = $('#sell_price').val();
        console.log(decider);
        if(decider == 'autocharge'){
        console.log("AUTOCHARGE ORIENTED");
        $('#deposit_amount').attr("placeholder", "NOT AVAILABLE").attr("disabled", true)
        }
        else{
        console.log("DEPOSIT ORIENTED");
        $('#deposit_amount').attr("placeholder", "Enter Deposit Amount").attr("disabled", false).attr("min", sell_price).attr("value", sell_price)
        }}

        function changeMin(sell_currency){
        let changer = sell_currency.value;
        console.log(changer);
        $('#min_buy_currency').html(sell_currency.value);
        $('#deposit_currency').html(sell_currency.value)
        }
</script>